---
# Passwords for the API and Shuttle PostgreSQL databases
# Not used in SQLite mode
estuary_database_host: '127.0.0.1'
estuary_database_name: 'estuary_api'
estuary_database_user: 'estuary_api'
estuary_database_password: 'replaceme'
estuary_shuttle_database_password: 'alsoreplaceme'

# Loadbalancer floating IP
elastic_ip_lb: "127.0.0.1"

# Equinix Metal API token.
equinix_metal_token: thisisnotarealtokenunlesssomethinghasgoneverywrongatequinix
